* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #153677, #4e085f);
  display: flex;
  align-items: center;
}

#container{
  background-color: white;
  position: relative;
  bottom: 5vh;
  left: 7vw;
  width: 45vw;
  height: 80vh;
  border-radius: 20px;
  padding: 20px 30px;
}

#h1-span {
  color: #153677;
  margin-right: 10px;
}

header {
  margin-bottom: 25px;
}

#Task-Field {
  width: 70%;
  height: 6vh;
  border-radius: 30px;
  padding-left: 20px;
  background-color: #ebebeb;
  border: none;
  outline: none;
  font-size: 1.3em;
}

#submit {
  position: relative;
  right: 50px;
  height: 6vh;
  border-radius: 30px;
  width: 100px;
  border: none;
  background-color: #0061fe;
  font-size: 1.3em;
  color: white;
  font-weight: 800;
}

#Form-1 {
  margin-bottom: 20px;
}

.check-boxs {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.text {
  font-size: 1.3em;
  padding-left: 1vw;
  font-weight: 100;
}

.underline {
  text-decoration: line-through;
}

aside {
  position: absolute;
  right: 200px;
  bottom: 350px;
}

#build {
  font-size: 4rem;
  color: white;
}

h2 {
  font-size: 4rem;
  color: #b51a00;
}

#li {
  font-size: 4rem;
  color: white;
}
section {
  color: white;
  font-size: 3rem;
}
